@font-face{
    font-family: PF BeauSans Pro-Bold;
    src: url(fonts/PFBeauSansPro-Bold.ttf);
}
@font-face{
    font-family: PF BeauSans Pro-Regular;
    src: url(fonts/PFBeauSansPro-Reg.ttf);
}
@mixin style-view ($height){
    border-color: $purp;
        border-style: solid;
        border-width: 3px;
        border-radius: 15px;
        // height: 75vh;
        height: $height;
        background-color: rgb(241, 241, 241);
}
@mixin style-button {
    font-family: $fontReg;
    background-color: $purp;
    color: white;
    border-radius: 15px;
    height: 25px;
    width: 15%;
    margin: 5px;
    border-width: 1px;
}
$purp: #7c2d63;
$gray: #cccdd5;
$fontBold: PF BeauSans Pro-Bold;
$fontReg: PF BeauSans Pro-Regular;
header{
    background-color: $purp;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 65px;
    padding-right: 65px;
    margin-bottom: 10px;
    #logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $fontBold;
        font-size: 16pt;
        color: white;
        text-decoration: none;
        img{
            height: 60px;
            width: 60px;
        }
    }
    #button{
        font-family: $fontReg;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
        a{
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        img{
            height: 20px;
            width: 20px;
            padding-left: 5px;
        }
    }
}
body{
    width: 100%;
    margin: 0;
}
main{
    font-family: $fontReg;
    display: flex;
    flex-direction: column;
        #BackPack{
            @include style-view (auto);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-left: 5px;
            margin-right: 5px;
            width: auto;
            // padding-top: 20px;
            .photo{
                background-color: $gray;
                // height: auto;
                // width: auto;
                border-radius: 15px 15px 15px 15px;
                transition: 0.4s;
                margin: 25px;
                .imgWrapper{
                    background-color: white;
                    width: 280px;
                    border-radius: 15px 15px 15px 15px;
                    height: auto;
                    img{
                        width: 280px;
                        border-radius: 15px 15px 15px 15px;
                    }
                }
            }
            .photo:hover{
                transform: scale(1.05);
                .button{
                    input{
                        visibility: visible;
                    }
                    input:hover{
                        transform: scale(1.08);
                    }
                }
            }
            .AboutBP{
                display: flex;
                flex-direction:  column;
                text-align: center;
                vertical-align: middle;
                justify-content: space-evenly;
                .button{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    input{
                        height: 20px;
                        width: 20px;
                        padding-left: 5px;
                    }
                    input:hover{
                        transform: scale(1.08);
                    }
                }
                .Price{
                    div{
                        margin-left: 5px;
                    }
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    img{
                        height: 20px;
                        width: 20px;
                    }
                }
                .BPName{
                    div{
                        margin-left: 5px;
                    }
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }
}
footer{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    background-color: $gray;
    .title{
        font-family: $fontBold;
        font-size: 14pt;
        text-align: left;
    }
    .info{
        padding-top: 15px;
        font-family: $fontReg;
        font-size: 10pt;
        text-align: left;
    }
    .imagePay{
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .row1, .row2{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-between;
            align-items: center;
        }
    }
    .imageSoc{
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
}