@font-face{
    font-family: PF BeauSans Pro-Bold;
    src: url(fonts/PFBeauSansPro-Bold.ttf);
}
@font-face{
    font-family: PF BeauSans Pro-Regular;
    src: url(fonts/PFBeauSansPro-Reg.ttf);
}
@mixin style-view ($height){
    border-color: $purp;
        border-style: solid;
        border-width: 3px;
        border-radius: 15px;
        // height: 75vh;
        height: $height;
        background-color: rgb(241, 241, 241);
}
@mixin style-button {
    font-family: $fontReg;
    background-color: $purp;
    color: white;
    border-radius: 15px;
    height: 25px;
    width: 15%;
    margin: 5px;
    border-width: 1px;
}
$purp: #7c2d63;
$gray: #cccdd5;
$fontBold: PF BeauSans Pro-Bold;
$fontReg: PF BeauSans Pro-Regular;
header{
    background-color: $purp;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;

    #logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
        font-family: $fontBold;
        font-size: 16pt;
        img{
            height: 60px;
            width: 60px;
        }
    }
    #search{
        width:35%;
        justify-content: space-around;
        font-family: $fontReg;
        display: inline-flex;
        align-items: center;
        input{
            height: 25px;
            width: auto;
            border-radius: 15px;
            border: 0px;
        }
        input[type=image]{
            width: 25px;
        }
    }
    #button{
        font-family: $fontReg;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
        a{
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        img{
            height: 20px;
            width: 20px;
            padding-left: 5px;
        }
    }
}
body{
    margin: 0;
}
main{
    font-family: $fontReg;
    // display: flex;
    // flex-direction: row;
    #view{
        display: flex;
        height: auto;
        flex-direction: row;
        #BackPacks{
            @include style-view (auto);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-left: 5px;
            margin-right: 5px;
            width: 100%;
            padding-top: 20px;
            padding-left: 40px;
            padding-right: 40px;
            .card{
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: $gray;
                height: 70px;
                width: auto;
                border-radius: 15px;
                transition: 0.3s;
                margin: 10px;

                .imgWrapper{
                    background-color: white;
                    width: auto;
                    border-radius: 15px 0px 0px 15px;
                    height: 70px;
                    img{
                        height: 70px;
                        width: 70px;
                        border-radius: 15px 0px 0px 15px;
                    }
                }
                .CardFooter{
                    display: flex;
                    flex-direction:  row;
                    text-align: center;
                    align-items: center;
                    // vertical-align: middle;
                    justify-content: space-evenly;
                    width: 100%;
                    padding-left: 20px;
                    padding-right: 20px;
                    input{
                        height: 25px;
                        // width: 400px;
                        border-radius: 15px;
                        border: 0px;
                    }
                    .Price{
                        div{
                            margin-left: 5px;
                        }
                        display: flex;
                        flex-direction: row;
                        img{
                            height: 20px;
                            width: 20px;
                        }
                        
                    }
                    .BPName{
                        div{
                            margin-left: 5px;
                        }
                        display: flex;
                        flex-direction: row;
                    }
                    .button{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        input{
                            visibility: hidden;
                            height: 20px;
                            width: 20px;
                            padding-left: 5px;
                        }
                    }
                }
            }
            .card:hover{
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
                transform: scale(1.05);
                .button{
                    input{
                        visibility: visible;
                    }
                    input:hover{
                        transform: scale(1.08);
                    }
                }
            }
            input[type=button]{
                @include style-button;
                align-self: center;
            }
        }
    }
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    background-color: $gray;
    height: 100px;
    .title{
        font-family: $fontBold;
        font-size: 14pt;
        text-align: left;
    }
    .info{
        padding-top: 15px;
        font-family: $fontReg;
        font-size: 10pt;
        text-align: left;
    }
    .imagePay{
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .row1, .row2{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-between;
            align-items: center;
        }
    }
    .imageSoc{
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    header{
        justify-content: space-around;
        #search{
            input{
                width: auto;
            }
        }
        #button{
            div{
                display: none;
                justify-content: center;
            }
        }
    }
    body{
        main{
            #view{
                #BackPacks{
                    input[type=button]{
                        width: 20%;
                    }
                }
            }
        }
    }
}



@media (max-width: 800px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        margin-bottom: 5px;
        
            #logo{
            div{
                display: none;
            }
        }
    
        #search{
            div{
                display: none;
            }
        }
    }
    body{
        main{
            #view{
                #BackPacks{
                    .card{
                        .imgWrapper{
                            height: 110px;
                            width: 110px;
                            img{
                                height: 110px;
                                width: 110px;
                            }
                        }
                        
                        height: 110px;
                        .CardFooter{
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            input[type=number]{
                                width: 30%;
                            }
                        }
                    }
                    input[type=button]{
                        width: 40%;
                    }
                }
            }
        }
    }
    
    footer{
        flex-direction: column;
        height: 350px;
        align-items: center;
        .title{
            text-align: center;
        }
    }
}

@media (max-width: 480px){
    header{
        display: flex;
        flex-direction: column;
        div{
            margin-bottom: 5px;
        }
    }
    body{
        main{
            #view{
                #BackPacks{
                    padding: 0px;
                    margin: 3px;
                    .card{
                        .imgWrapper{
                            height: 160px;
                            width: 160px;
                            img{
                            height: 160px;
                            width: 160px;
                            }
                        }
                        height: 160px;
                        .CardFooter{
                            .BPName{
                                .n{
                                    display: none;
                                }
                            }
                            .Price{
                                .p{
                                    display: none;
                                }
                            }
                            display: flex;
                            flex-direction: column;
                            input[type=number]{
                                width: 20%;
                            }
                        }
                    }
                    input[type=button]{
                        width: 60%;
                    }
                }
            }
        }
    } 
}
@media (max-width: 320px){
    header{
        display: flex;
        flex-direction: column;
        div{
            margin-bottom: 5px;
        }
    }
    body{
        main{
            #view{
                #BackPacks{
                    padding: 0px;
                    margin: 3px;
                    .card{
                        .imgWrapper{
                            height: 125px;
                            width: 125px;
                            img{
                            height: 125px;
                            width: 125px;
                            }
                        }
                        height: 125px;
                        .CardFooter{
                            .BPName{
                                .n{
                                    display: none;
                                }
                            }
                            .Price{
                                .p{
                                    display: none;
                                }
                            }
                            display: flex;
                            flex-direction: column;
                            input[type=number]{
                                width: 20%;
                            }
                        }
                    }
                    input[type=button]{
                        width: 60%;
                    }
                }
            }
        }
    } 
}
