@font-face {
  font-family: PF BeauSans Pro-Bold;
  src: url(fonts/PFBeauSansPro-Bold.ttf);
}

@font-face {
  font-family: PF BeauSans Pro-Regular;
  src: url(fonts/PFBeauSansPro-Reg.ttf);
}

header {
  background-color: #7c2d63;
  height: 60px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5px;
}

header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: PF BeauSans Pro-Bold;
  font-size: 16pt;
}

header #logo img {
  height: 60px;
  width: 60px;
}

header #search {
  width: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: PF BeauSans Pro-Regular;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #search input {
  height: 25px;
  width: auto;
  border-radius: 15px;
  border: 0px;
}

header #search input[type=image] {
  width: 25px;
}

header #button {
  font-family: PF BeauSans Pro-Regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

header #button a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #button img {
  height: 20px;
  width: 20px;
  padding-left: 5px;
}

body {
  margin: 0;
}

main {
  font-family: PF BeauSans Pro-Regular;
}

main #view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #view #BackPacks {
  border-color: #7c2d63;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  height: auto;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

main #view #BackPacks .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cccdd5;
  height: 70px;
  width: auto;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
}

main #view #BackPacks .card .imgWrapper {
  background-color: white;
  width: auto;
  border-radius: 15px 0px 0px 15px;
  height: 70px;
}

main #view #BackPacks .card .imgWrapper img {
  height: 70px;
  width: 70px;
  border-radius: 15px 0px 0px 15px;
}

main #view #BackPacks .card .CardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

main #view #BackPacks .card .CardFooter input {
  height: 25px;
  border-radius: 15px;
  border: 0px;
}

main #view #BackPacks .card .CardFooter .Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #view #BackPacks .card .CardFooter .Price div {
  margin-left: 5px;
}

main #view #BackPacks .card .CardFooter .Price img {
  height: 20px;
  width: 20px;
}

main #view #BackPacks .card .CardFooter .BPName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #view #BackPacks .card .CardFooter .BPName div {
  margin-left: 5px;
}

main #view #BackPacks .card .CardFooter .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #view #BackPacks .card .CardFooter .button input {
  visibility: hidden;
  height: 20px;
  width: 20px;
  padding-left: 5px;
}

main #view #BackPacks .card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main #view #BackPacks .card:hover .button input {
  visibility: visible;
}

main #view #BackPacks .card:hover .button input:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

main #view #BackPacks input[type=button] {
  font-family: PF BeauSans Pro-Regular;
  background-color: #7c2d63;
  color: white;
  border-radius: 15px;
  height: 25px;
  width: 15%;
  margin: 5px;
  border-width: 1px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  background-color: #cccdd5;
  height: 100px;
}

footer .title {
  font-family: PF BeauSans Pro-Bold;
  font-size: 14pt;
  text-align: left;
}

footer .info {
  padding-top: 15px;
  font-family: PF BeauSans Pro-Regular;
  font-size: 10pt;
  text-align: left;
}

footer .imagePay {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .imagePay .row1, footer .imagePay .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .imageSoc {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header #search input {
    width: auto;
  }
  header #button div {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main #view #BackPacks input[type=button] {
    width: 20%;
  }
}

@media (max-width: 800px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
    margin-bottom: 5px;
  }
  header #logo div {
    display: none;
  }
  header #search div {
    display: none;
  }
  body main #view #BackPacks .card {
    height: 110px;
  }
  body main #view #BackPacks .card .imgWrapper {
    height: 110px;
    width: 110px;
  }
  body main #view #BackPacks .card .imgWrapper img {
    height: 110px;
    width: 110px;
  }
  body main #view #BackPacks .card .CardFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main #view #BackPacks .card .CardFooter input[type=number] {
    width: 30%;
  }
  body main #view #BackPacks input[type=button] {
    width: 40%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .title {
    text-align: center;
  }
}

@media (max-width: 480px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header div {
    margin-bottom: 5px;
  }
  body main #view #BackPacks {
    padding: 0px;
    margin: 3px;
  }
  body main #view #BackPacks .card {
    height: 160px;
  }
  body main #view #BackPacks .card .imgWrapper {
    height: 160px;
    width: 160px;
  }
  body main #view #BackPacks .card .imgWrapper img {
    height: 160px;
    width: 160px;
  }
  body main #view #BackPacks .card .CardFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main #view #BackPacks .card .CardFooter .BPName .n {
    display: none;
  }
  body main #view #BackPacks .card .CardFooter .Price .p {
    display: none;
  }
  body main #view #BackPacks .card .CardFooter input[type=number] {
    width: 20%;
  }
  body main #view #BackPacks input[type=button] {
    width: 60%;
  }
}

@media (max-width: 320px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header div {
    margin-bottom: 5px;
  }
  body main #view #BackPacks {
    padding: 0px;
    margin: 3px;
  }
  body main #view #BackPacks .card {
    height: 125px;
  }
  body main #view #BackPacks .card .imgWrapper {
    height: 125px;
    width: 125px;
  }
  body main #view #BackPacks .card .imgWrapper img {
    height: 125px;
    width: 125px;
  }
  body main #view #BackPacks .card .CardFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main #view #BackPacks .card .CardFooter .BPName .n {
    display: none;
  }
  body main #view #BackPacks .card .CardFooter .Price .p {
    display: none;
  }
  body main #view #BackPacks .card .CardFooter input[type=number] {
    width: 20%;
  }
  body main #view #BackPacks input[type=button] {
    width: 60%;
  }
}
/*# sourceMappingURL=basket.css.map */