@font-face{
    font-family: PF BeauSans Pro-Bold;
    src: url(fonts/PFBeauSansPro-Bold.ttf);
}
@font-face{
    font-family: PF BeauSans Pro-Regular;
    src: url(fonts/PFBeauSansPro-Reg.ttf);
}
@mixin style-view ($height){
    border-color: $purp;
        border-style: solid;
        border-width: 3px;
        border-radius: 15px;
        height: $height;
        background-color: white;
        padding: 10px;
        margin-left: 30%;
        margin-right: 30%;
}
@mixin style-button {
    font-family: $fontReg;
    background-color: $purp;
    color: white;
    border-radius: 15px;
    height: 25px;
    width: 15%;
    margin: 5px;
    border-width: 1px;
}
$purp: #7c2d63;
$gray: #cccdd5;
$fontBold: PF BeauSans Pro-Bold;
$fontReg: PF BeauSans Pro-Regular;


body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    height:fit-content;
    margin-top: 20%;
    background-color: $purp;
}
main{
    @include style-view(auto);
    display: flex;
    flex-direction: column;
    // width: 80%;
    input[type=submit]{
        @include style-button;
        width: 100%;
        margin: 0px;
        font-family: $fontReg;
    }
    a{
        font-family: $fontReg;
    }
    .enter{
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            font-family: $fontReg;

            width: 80px;
        }
        input{
            width: 100%;
            margin: 2px;
            border-radius: 15px;
            border-width: 1px;
            height: 20px;
        }
    }
    .title{
        font-family: $fontBold;
        font-size: 16pt;
        text-align: center;
    }
}